:root {
    --red-retro: #951E26;
    --green-retro: #599A7E;
    --yellow-retro: #E0C9A6;
    --dark-text: #242424;
    --light-text: #F7F6F2;
}

body {

}

header {
    max-height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sliding-title {
    width: 100%;
    max-height: 50px;

    display: flex;
    flex-direction: row;
    white-space: nowrap;

    background-color: var(--green-retro);
    overflow: hidden; 
}

.sliding-title span {
    display: inline-block;

    font-size: 30px;
    font-weight: 400;

    margin-right: 2%;
}

.main-page-container {
    width: 100%;
    min-height: 820px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--yellow-retro);
}

.main-page {
    width: 90%;
    height: 90%;
    max-width: 1000px;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}

.poster-container, .sublogo-container{
    grid-row: 1/2;
}

.poster-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.logo-container {
    display: flex;
    position: relative; 
    justify-content: center;
    align-items: center;

    padding: 10%;
}

.logo {
    position: relative;
    max-width: 100%;
}

.logo:first-child {
    z-index: 2; 
    margin-right: -250px; 

    animation-name: spin;
    animation-duration: 9000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: translateX(310px) scale(1.2) rotate(0deg);
    }
    to {
        transform: translateX(310px) scale(1.2) rotate(360deg);
    }
}

.logo:last-child {
    z-index: 3;
    transform: scale(1.5);
}


.subtitle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.subtitle {

}